<mat-card>
    <p>With great sadness, we announce the loss of our mother, <em>Cecilia Macabales Suemith</em>, in a tragic car accident on Nov. 7, 2021. Our father, <em>Michael Ramos Suemith</em>, was severely injured in the same accident and spent 30 days in the hospital.</p>
    <p>On this page you will find information about our mother's funeral arrangements.  We continue to ask for your prayers and support for the healing of our Dad and the repose of our Mom's soul.  The <strong>GoFundMe</strong> remains active and can be found on this page further below or at the link above.</p>  
    <p>We invite all of you to leave a personal message for <em>Mike & Cecil</em>.  Click on <strong>Messages</strong> above.</p>
    <p>Sincerely,</p>
    <p>Garrick and Jude</p>
</mat-card>
