<mat-card>
    <p>With great sadness, we announce the loss of our mother, <strong>Cecilia Avelino Suemith</strong>, in a tragic car accident on Nov. 7, 2021. Our father, <strong>Michael Ramos Suemith</strong>, was severely injured in the same accident and remains in the hospital.</p>
    <p>On this page you will find information about our mother's funeral arrangements.  We continue to ask for your prayers and support for the healing of our Dad and the repose of our Mom's soul.  The GoFundMe remains active further below.</p>
    <p>Sincerely,</p>
    <p>Garrick and Jude</p>
</mat-card>
