<mat-card>
    <p>With great sadness, we announce the loss of our mother, <em><a class="no-decor" target="_blank" href="{{obitUrl}}">Cecilia Macabales Suemith</a></em>, in a tragic car accident on Nov. 7, 2021. Our father, <em><a class="no-decor" target="_blank" href="{{dadFacebookUrl}}">Michael Ramos Suemith</a></em>, was severely injured in the same accident and spent 30 days in the hospital.</p>
    <p>On this page you will find information about our mother's funeral arrangements.  We continue to ask for your prayers and support for the healing of our Dad and the repose of our Mom's soul.  The <strong>GoFundMe</strong> remains active and can be found further below or at the link above.</p>
    <p>An obituary has been posted on the website of <a target="_blank" href="{{obitUrl}}">Miller Funeral Home.</a>  You can also <a target="_blank" href="{{obitUrl}}">Send Flowers</a> via their website.</p>  
    <p>We invite all of you to leave a personal message for <em>Mike & Cecil</em>.  Click on <strong><a class="no-decor" routerLink="/message-board">Messages</a></strong> above.</p>
    <p>Sincerely,</p>
    <p>Garrick and Jude</p>
    <p><br/><strong><a class="no-decor" routerLink="/rsvp">!!!IMPORTANT!!!</a></strong></p>
    <p>Space will be limited at the reception following the burial.  Please click <strong><a class="no-decor" routerLink="/rsvp">RSVP</a></strong> above and submit your contact information and the number in your party.</p>
    <h2>Shortcuts</h2>
    <ul>
        <li><a class="no-decor" routerLink="/rsvp"><strong>✔ RSVP to Reception</strong></a></li>
        <li><a class="no-decor" target="_blank" href="{{obitUrl}}"><strong>✝ Obituary</strong></a></li>
        <li><a class="no-decor" target="_blank" href="{{flowersUrl}}"><strong>🌺 Send Flowers</strong></a></li>
        <li><a class="no-decor" routerLink="/message-board"><strong>✉ Send Message</strong></a></li>
        <li><a class="no-decor" target="_blank" href="{{goFundMeUrl}}"><strong>💝 Go Fund Me</strong></a></li>
        <li><a class="no-decor" target="_blank" href="{{dadFacebookUrl}}"><strong>🖱 Mike's Facebook</strong></a></li>
    </ul>
</mat-card>
