<div #board (resized)="onBoardResized($event)" class="container">
    <mat-grid-list [cols]="columns" [gutterSize]="gutterSizeStr" [rowHeight]="rowHeightStr">
        <mat-grid-tile *ngFor="let message of messages; let i=index" [rowspan]="getRowSpan(i)">
            <mat-card class="card-element" [style]="cardStyle(getRowSpan(i))">
                <p [id]="'message-' + i" (resized)="onMessageResized($event, i)" [innerText]="message.message"></p>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>