<div class="container">
    <div class="message">
        <mat-card>
            <p>Submit this form to RSVP for the reception at Stacy Sherwood Community Center taking place following the burial on Dec. 22, 2021.</p>
            <p>No confirmation email will be sent.  We will only reach out if we reach the venue's limit.</p>
            <p>If you need to modify or cancel your response, please email garrick@suemith.com by December 20, 2021</p>
            <p>Sorry, we cannot accommodate individual dietary needs at this time.</p>
        </mat-card>
    </div>
    <mat-grid-list cols="1" rowHeight="5em">
        
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Full Name</mat-label>
                <input matInput [formControl]="name" required>
                <mat-error *ngIf="name.invalid">Name is required</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="person@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="15555555555" [formControl]="phone" required>
                <mat-error *ngIf="phone.invalid">{{getPhoneErrorMessage()}}</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill"> 
                <mat-label>Number of Attendees</mat-label>
                <input matInput [formControl]="attendies" required type=number min="1">
                <mat-error *ngIf="attendies.invalid">{{getAttendiesErrorMessage()}}</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button [disabled]="!isSubmitEnabled()" (click)="onSubmitClick()">Submit</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>